.footer {
  padding-top: 40px;
}

.footer__link {
  grid-column: 8 / 9;
  font-family: var(--font-mono);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--caption);
}

@media (max-width: 768px) {
  .footer__link {
    grid-column: 1 / 5;
  }
}
